@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white min-h-screen font-sans antialiased;
  }
}

.content-scroll::-webkit-scrollbar {
  width: 8px;
}

.content-scroll::-webkit-scrollbar-track {
  background: #1e293b;
}

.content-scroll::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

.content-scroll::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}
